PROVIDER_NAME=
PROVIDER_USER=
PROVIDER_APP=

APPLICATION_NAME=
DATABASE_NAME=
NETWORK_NAME=

MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_PORT=

DISCORD_CLIENT_ID=
DISCORD_BOT_TOKEN=